@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.title_text {
  margin-bottom: 4rem;
}
.cards {
  align-self: center;
  display: grid;
  max-width: 1905px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.75rem 4.5rem;
  padding: 0 7rem;
  h2 {
    margin-top: auto;
  }
  .card {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.25rem;
    aspect-ratio: 357/195;
    position: relative;
    p {
      margin-top: 0.25rem;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
      border-radius: 1.5rem;
    }
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
