@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.backBlock {
  width: 36.5em;
  height: 35em;
  background: rgba(80, 15, 135, 0.2);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 6em;
  border-radius: 18%;
}
.block {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  flex-direction: column;
}
.ttl {
  margin-top: 1em;
  margin-bottom: 0.5em;
  justify-content: center;
  display: flex;
  color: #ffd700;
  font-weight: 400;
  font-size: 3em;
}
input {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 1.5em;
  width: 19em;
  height: 2em;
  border: solid white 1px;
  border-radius: 0.5em;
  background-color: rgb(35, 6, 62);
  color: aliceblue;
}
.input:active {
  background-color: rgb(81, 46, 114);
}
.lowerInput {
  margin-bottom: 0;
}
.btnBack {
  width: 37em;
}
.btn {
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 8em 2.5em 8em;
  width: 20em;
  height: 4em;
  border-radius: 1em;
  border: solid white 1px;
  background-color: rgb(35, 6, 62);
  color: rgb(117, 117, 117);
}
.btn:hover {
  background-color: rgb(81, 46, 114);
}
.questions {
  display: flex;
  margin: auto;
  margin-top: 0px;
  flex-direction: row;
  /* border: solid goldenrod; */
  justify-content: center;
}
.checkbox {
  width: auto;
  margin: 0;
  margin-right: 0.5em;
}
.quest {
  margin: auto;
  padding-right: 1em;
  justify-items: auto;
}
.error {
  color: red;
  align-self: center;
}
